@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap" ); 
*{
    box-sizing: border-box;
}

body{
    background-color: #f5f5f5;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
    font-family: "Poppins",sans-serif;
    min-height: 100vh;
}

canvas{
    border: 2px solid rebeccapurple;
}

.toolbox{
    background-color: rebeccapurple;
    border:1px solid rebeccapurple;
    display: flex;
    padding: 1rem;
    width: 604px;
    height: 50px;
}

.toolbox >*{
    background-color: white;
    border:none;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    padding: 0.25rem;
    margin: 0.25rem;
    height: 30px;
    width: 30px;
    margin-top: -10px;
}
.toolbox > *:last-child{
    margin-left: auto;
}